.obsidian/
.venv/
*.h5
.ipynb_checkpoints/*
.ipynb_checkpoints/
__pycache__/
sim_results/
*.qu
*.log
ComponentLibrary_files/
*.aux
*.bcf
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
*.run.xml
*.synctex.gz
*.toc
**/data/**/*.h5
**/data/**/*.xlsx
**/data/**/*.pkl
**/data/**/*.pdf
**/data/**/*.png
goodAtomSelectorFiles/
